<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <services>
    <service name="SolarPanels.SolarPanelGUI">
      <endpoint address="ISolarPanelGUI" binding="netTcpBinding" contract="Common.ISolarPanelGUI"/>
      <host>
        <baseAddresses>
          <add baseAddress="net.tcp://localhost:4000"/>
        </baseAddresses>
      </host>
    </service>
      <service name="SolarPanels.SolarPanelSHES">
        <endpoint address="ISolarPanelSHES" binding="netTcpBinding" contract="Common.ISolarPanelSHES"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4010"/>
          </baseAddresses>
        </host>
      </service>
  </services>
    <client>
      <endpoint name="ISHESSolarPanel" address="net.tcp://localhost:4001/ISHESSolarPanel" binding="netTcpBinding" contract="Common.ISHESSolarPanel"/>
    </client>
  </system.serviceModel>
</configuration>
