<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="Utility.UtilitySHES">
        <endpoint address="IUtilitySHES" binding="netTcpBinding" contract="Common.IUtilitySHES"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4005"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Utility.UtilityGUI">
        <endpoint address="IUtilityGUI" binding="netTcpBinding" contract="Common.IUtilityGUI"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4014"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
