<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="EVCharger.EVChargerSHES">
        <endpoint address="IEVChargerSHES" binding="netTcpBinding" contract="Common.IEVChargerSHES"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4007"/>
          </baseAddresses>
        </host>
      </service>
      <service name="EVCharger.EVChargerGUI">
        <endpoint address="IEVChargerGUI" binding="netTcpBinding" contract="Common.IEVChargerGUI"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4006"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint name="ISHESEVCharger" address="net.tcp://localhost:4012/ISHESEVCharger" binding="netTcpBinding" contract="Common.ISHESEVCharger"/>
    </client>
  </system.serviceModel>
</configuration>
