<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="ISolarPanelGUI" address="net.tcp://localhost:4000/ISolarPanelGUI" binding="netTcpBinding" contract="Common.ISolarPanelGUI"/>
      <endpoint name="IEVChargerGUI" address="net.tcp://localhost:4006/IEVChargerGUI" binding="netTcpBinding" contract="Common.IEVChargerGUI"/>
      <endpoint name="ISHESGUI" address="net.tcp://localhost:4008/ISHESGUI" binding="netTcpBinding" contract="Common.ISHESGUI"/>
    </client>
  </system.serviceModel>
</configuration>