<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
    <service name="SHES.SHESSolarPanel">
      <endpoint address="ISHESSolarPanel" binding="netTcpBinding" contract="Common.ISHESSolarPanel" />
      <host>
        <baseAddresses>
          <add baseAddress="net.tcp://localhost:4001" />
        </baseAddresses>
      </host>
    </service>
      <service name="SHES.BatteryServer">
        <endpoint address="ISHESBattery" binding="netTcpBinding" contract="Common.ISHESBattery" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4004" />
          </baseAddresses>
        </host>
      </service>
   </services>
    <client>
      <endpoint name="IBatterySHES" address="net.tcp://localhost:4003/IBatterySHES" binding="netTcpBinding" contract="Common.IBatterySHES"/>
    </client>
  </system.serviceModel>
</configuration>
