<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <services>
    <service name="SHES.SHESSolarPanel">
      <endpoint address="ISHESSolarPanel" binding="netTcpBinding" contract="Common.ISHESSolarPanel"/>
      <host>
        <baseAddresses>
          <add baseAddress="net.tcp://localhost:4001"/>
        </baseAddresses>
      </host>
    </service>
      <service name="SHES.SHESBattery">
        <endpoint address="ISHESBattery" binding="netTcpBinding" contract="Common.ISHESBattery"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4002"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SHES.SHESConsumer">
        <endpoint address="ISHESConsumer" binding="netTcpBinding" contract="Common.ISHESConsumer"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4004"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SHES.SHESGUI">
        <endpoint address="ISHESGUI" binding="netTcpBinding" contract="Common.ISHESGUI"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4008"/>
          </baseAddresses>
        </host>
      </service>
      <service name="SHES.SHESEVCharger">
        <endpoint address="ISHESEVCharger" binding="netTcpBinding" contract="Common.ISHESEVCharger"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4012"/>
          </baseAddresses>
        </host>
      </service>
   </services>
    <client>
      <endpoint name="IBatterySHES" address="net.tcp://localhost:4003/IBatterySHES" binding="netTcpBinding" contract="Common.IBatterySHES"/>
      <endpoint name="IUtilitySHES" address="net.tcp://localhost:4005/IUtilitySHES" binding="netTcpBinding" contract="Common.IUtilitySHES"/>
      <endpoint name="IEVChargerSHES" address="net.tcp://localhost:4007/IEVChargerSHES" binding="netTcpBinding" contract="Common.IEVChargerSHES"/>
      <endpoint name="ISolarPanelSHES" address="net.tcp://localhost:4010/ISolarPanelSHES" binding="netTcpBinding" contract="Common.ISolarPanelSHES"/>
      <endpoint name="IConsumerSHES" address="net.tcp://localhost:4011/IConsumerSHES" binding="netTcpBinding" contract="Common.IConsumerSHES"/>
      <endpoint name ="IDBServices" address ="net.tcp://localhost:4013/IDBServices" binding="netTcpBinding" contract="DatabaseLayer.SERVICES.IDBServices"/>
    </client>
  </system.serviceModel>
</configuration>
