<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <services>
      <service name="Battery.BatterySHES">
        <endpoint address="IBatterySHES" binding="netTcpBinding" contract="Common.IBatterySHES"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4003"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint name="ISHESBattery" address="net.tcp://localhost:4002/ISHESBattery" binding="netTcpBinding" contract="Common.ISHESBattery"/>
    </client>
  </system.serviceModel>
</configuration>
